body {
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity as needed */
    z-index: -1; /* Ensure the overlay is behind the content */
}
.custom-navbar {
    background-color: rgba(26, 2, 114, 0.6);
    color: white;
}
.hero {
    padding: 100px 0;
    color: white;
    text-align: center;
    background-color: rgba(20, 1, 87, 0.6);
}